body * {
  scrollbar-width: thin;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

ul#book-search-results{
  li:last-child{
    border-bottom: thin solid var(--gray-500);
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }
}

.footnotes{
  color: #343a40;
  font-size: $font-size-12;
  padding-top: $padding-8;

  ol{ padding-top: $padding-8; }
  :target{
    border: thin dotted var(--gray-500);
  }
}

h2.book-brand{
  text-align: center;

  img{
    width: 100px;
    height: inherit;
  }

  span{
    padding-top: 1rem;
    display: block;
  }
}

.markdown {
  h2 {
    margin-top: 4rem;
  }

  ul, ol {
    padding: 0;
    margin: 1.5rem 0 2rem 1rem;

    li{
      padding-left: 0.5rem;
    }
  }
}

.book-note {
  display: grid;
  grid-template-columns: 4rem auto;
  border: 1px solid var(--gray-500);
  padding-right: 1rem;
  font-size: $font-size-14;
  align-items: center;

  .book-note-icon {
    fill: #FFE01B;
    justify-self: center;
  }
}

.book-highlight {
  background-color:var(--gray-100);
  border-radius: $border-radius;
  padding: 1rem;
  font-size: $font-size-14;
}
