.footnotes{
    color: #343a40;
    font-size: $font-size-12;
    padding-top: $padding-8;

    ol{ padding-top: $padding-8; }
    :target{
      border: thin dotted var(--gray-500);
    }
}

h2.book-brand{
    text-align: center;

    img{
        width: 100px;
        height: inherit;
    }

    span{
        display: block;
    }
}

.markdown {
    h2 {
        margin-top: 5rem;
    }

    ul, ol {
        padding: 0;
        margin: 1.5rem 0 2rem 1rem;

        li{
            list-style: square;
            padding-left: 0.5rem;
        }
    }
}
