.footnotes{
    color: #343a40;
    font-size: $font-size-12;
    padding-top: $padding-8;

    ol{ padding-top: $padding-8; }
    :target{
      border: thin dotted var(--gray-500);
    }
}

h2.book-brand{
    text-align: center;

    img{
        width: 100px;
        height: inherit;
    }

    span{
        display: block;
    }
}
